{% extends 'base.html' %}

            {% block content %}
            <div id="cta-section-2" class="cta-section grey-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- Background Image Block -->
                    <div class="background-image-block lpbuilder-background">
                        <img src="{{ url_for('static', filename='images/hero/background-003.jpg') }}" alt="Parallax Background Image">
                    </div><!-- /End Background Image Block -->


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- CTA Block -->
                            <div class="col-md-7 col-md-offset-0 col-sm-6 col-sm-offset-6 pull-right cta-block">
                                <!-- CTA Block Container -->
                                <div class="cta-block-container">

                                    <!-- Description -->
                                    <p>Code-100 - сайт для подготовки к Единому государственному экзамену по информатике. Разработан в качестве проектной деятельности при поддержке Яндекс Академии.</p>

                                </div><!-- /End CTA Block Container -->
                            </div><!-- /End CTA Block -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </div><!-- /End CTA 2 --><!-- Team 2
            ==================================================================== -->
            <div id="team-section-2" class="team-section white-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Title Block -->
                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                <!-- Title Block Container -->
                                <div class="title-block-container text-center">

                                    <!-- Title -->
                                    <h2>РАЗРАБОТЧИКИ</h2>

                                    <!-- Description -->
                                    <p>Работа над проектом проводилась членами молодежной организации <a href="#">I.P.</a></p>

                                    <!-- Line Separator -->
                                    <div class="line-separator"></div>


                                    <!-- Team Block -->
                                    <div class="col-md-3 col-sm-6 team-block team-block-style-1" style="width: 300px;">
                                        <!-- Team Block Container -->
                                        <div class="team-block-container" style="height: 352px;  width: 250px; transform: translate(50%, 0%);;">

                                            <!-- Image Block -->
                                            <div class="image-block">
                                                <!-- Image Block Container -->
                                                <div class="image-block-container">
                                                    <img src="images/team/team-037.jpg" alt="Image Block">
                                                </div><!-- /End Image Block Container -->
                                            </div><!-- /End Image Block -->

                                            <!-- Title -->
                                            <div class="team-block-title">
                                                <h4>Пузырева Дарья</h4>
                                                <h6 class="main-color">Frontend-разработка</h6>
                                            </div><!-- /End Title -->

                                            <!-- Social Icons Block -->
                                            <div class="social-icons-block social-icons-block-sm social-icons-block-style-2">
                                                <ul>
                                                    <li style=""><a href="https://vk.com/daria_puzyreva" title="ВКонтакте"><i class="fa fa-vk" style="color: rgb(99, 99, 99); background-color: rgb(235, 239, 245); font-size: 14px;" src="images/team/team-037.jpg" id="ui-id-5"></i></a></li>
                                                </ul>
                                            </div><!-- /End Social Icons Block -->

                                        </div><!-- /End Team Block Container -->
                                    </div><!-- /End Team Block -->

                                    <!-- Team Block -->
                                    <div class="col-md-3 col-sm-6 team-block team-block-style-1">
                                        <!-- Team Block Container -->
                                        <div class="team-block-container" style="height: 352px; position: relative; width: 250px; left: 90%;transform: translate(50%, 0%);;">

                                            <!-- Image Block -->
                                            <div class="image-block">
                                                <!-- Image Block Container -->
                                                <div class="image-block-container">
                                                    <img src="images/team/team-038.jpg" alt="Image Block">
                                                </div><!-- /End Image Block Container -->
                                            </div><!-- /End Image Block -->

                                            <!-- Title -->
                                            <div class="team-block-title">
                                                <h4>Ибрагимов Ринат</h4>
                                                <h6 class="main-color">Backend-разработка</h6>
                                            </div><!-- /End Title -->

                                            <!-- Social Icons Block -->
                                            <div class="social-icons-block social-icons-block-sm social-icons-block-style-2">
                                                <ul>
                                                    <li style=""><a href="https://vk.com/yakmuve" title="ВКонтакте"><i class="fa fa-vk" style="color: rgb(81, 81, 81); background-color: rgb(255, 255, 255); font-size: 14px;" src="images/team/team-037.jpg" id="ui-id-6"></i></a></li>

                                                </ul>
                                            </div><!-- /End Social Icons Block -->

                                </div><!-- /End Team Block Container -->
                            </div><!-- /End Team Block -->


                                </div><!-- /End Title Block Container -->
                            </div><!-- /End Title Block -->


                            <!-- Title Block -->
                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                
                                

                            </div><!-- /End Title Block -->



                            <div id="contact-section-3" class="contact-section white-section">
                                <!-- Section Container -->
                                <div class="section-container">
                
                
                                    <!-- container -->
                                    <div class="container">
                                        <!-- row -->
                                        <div class="row">

                
                                            <!-- Title Block -->
                                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                                <!-- Title Block Container -->
                                                <div class="title-block-container text-center">
                
                                                    <!-- Title -->
                                                    <h2>КОНТАКТЫ</h2>
                
                                                    <!-- Description -->
                                                    <p>Release bandwidth user experience research &amp; development branding termsheet business plan advisor analytics ecosystem entrepreneur freemium.</p>
                
                                                    <!-- Line Separator -->
                                                    <div class="line-separator"></div>
                
                                                </div><!-- /End Title Block Container -->
                                            </div><!-- /End Title Block --> 

                                            <!-- Contact Block -->
                                            <div class="col-md-4 col-sm-6 contact-block">
                                                <!-- Contact Block Container -->
                                                <div class="contact-block-container" style="height: 242px; left: 40%;transform: translate(50%, 0%)">
                
                                                    <!-- Icon -->
                                                    <i class="fa fa-envelope-o circle-icon-block circle-icon-block-lg"></i>
                
                                                    <!-- Title -->
                                                    <h4>EMAIL</h4>
                
                                                    <!-- Description -->
                                                    <p>Поддержка: dariapuzyreva@gmail.com<br>
                                                        По предложениям: 
                <a href="mailto:ваша-почта@mail.ru" title="Support">ваша-почта@mail.ru</a></p>
                
                                                </div><!-- /End Contact Block Container -->
                                            </div><!-- /End Contact Block -->
                
                
                                            <!-- Contact Block -->
                                            <div class="col-md-4 col-sm-6 contact-block">
                                                <!-- Contact Block Container -->
                                                <div class="contact-block-container" style="height: 242px; align: center">
                
                                                    <!-- Icon -->
                                                    <i class="fa fa-phone circle-icon-block circle-icon-block-lg"></i>
                
                                                    <!-- Title -->
                                                    <h4>ТЕЛЕФОН</h4>
                
                                                    <!-- Description -->
                                                    <p>+7 (918) 627-30-33<br>
                                                        +7 (952) 872-51-41</p>
                                                    <p>Пн-Пт: 9.00 - 12.00 МСК<br>
                Сб-Вс: 9.00 - 20.00 МСК</p>
                
                                                </div><!-- /End Contact Block Container -->
                                            </div><!-- /End Contact Block -->
                
                
                                        </div><!-- /End row -->
                                    </div><!-- /End container -->
                
                
                                </div><!-- /End Section Container -->
                            </div><!-- /End Contact 3 --><!-- Contact 1


                                </div><!-- /End Team Block Container -->
                            </div><!-- /End Team Block -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </div><!-- /End Team 2 --><!-- Team 2

            
            ==================================================================== -->
            <!-- /End Team 2 --><!-- Contact 1
            ==================================================================== -->
            <!-- /End Contact 1 --><!-- Hero 3
            ==================================================================== -->
            <!-- /End Hero 3 --><!-- Timeline 1
            ==================================================================== -->
            <div id="timeline-section-1" class="timeline-section grey-section">
                <!-- Section Container -->
                <div class="section-container">


{% endblock %}