{% extends 'base.html' %}
<!-- ==================================================================== -->
{% block content %}
<div id="hero-section-3" class="hero-section white-section section-no-padding border-bottom">
    <!-- Section Container -->
    <div class="section-container">


    <!-- Swiper Slider -->
    <div class="lpbuilder-swiper-slider" data-swiper-items="1">

        <!-- Swiper Slides -->
        <div class="swiper-wrapper">


            <!-- Slide -->
            <div class="swiper-slide">
                <!-- Slide Container -->
                <div class="swiper-slide-container">


                    <!-- White Section -->
                    <div class="white-section section-lg-padding border-bottom">

                        <!-- container -->
                        <div class="container" style="margin-top: 100px; margin-bottom: 0px;">
                            <!-- row -->
                            <div class="row">

                                <!-- Title Block -->
                                <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block" style="margin-bottom: 0px;">
                                    <!-- Title Block Container -->
                                    <div class="title-block-container text-center">

                                        <!-- Title -->
                                        <h2>ТРЕНАЖЁР</h2>

                                        <!-- Description -->
                                        <p>Решайте готовые варианты или сгенерируйте пробник из задач, выбранных системой</p>

                                        <!-- Line Separator -->
                                        <div class="line-separator"></div>

                                    </div><!-- /End Title Block Container -->
                                </div><!-- /End Title Block -->
                            </div>
                        </div>


                        <!-- Buttons Block -->
                        <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">

                            <!-- Buttons Block Container 1-->                                    
                            <div class="title-block-container white-content remove-white-content text-center" style="margin: 0px">

                                <!-- Buttons -->
                                <a href="" class="btn btn-lpbuilder-white" style="height: 40px; width: 100px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">Вариант 1</a>
                                <a href="" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 100px; font-size: 14px; font-weight: 600">Вариант 2</a>
                                <a href="" class="btn btn-lpbuilder-white" style="height: 40px; width: 100px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">Вариант 3</a>
                                <a href="" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 100px; font-size: 14px; font-weight: 600">Вариант 4</a>      
                                <a href="" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 100px; font-size: 14px; font-weight: 600">Вариант 5</a>                          
                            </div><!-- /End Buttons Block Container 1-->  

                            <!-- Buttons Block Container 2-->
                            <div class="title-block-container white-content remove-white-content text-center" style="margin: 0px">
                        
                                <!-- Buttons -->
                                <a href="" class="btn btn-lpbuilder-white" style="height: 40px; width: 100px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">Вариант 6</a>
                                <a href="" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 100px; font-size: 14px; font-weight: 600">Вариант 7</a>
                                <a href="" class="btn btn-lpbuilder-white" style="height: 40px; width: 100px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">Вариант 8</a>
                                <a href="" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 100px; font-size: 14px; font-weight: 600">Вариант 9</a>      
                                <a href="" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 100px; font-size: 14px; font-weight: 600">Вариант 10</a> 
                            </div><!-- /End Buttons Block Container 2--> 

                            <!-- Buttons Block Container 3 -->
                            <div class="title-block-container white-content remove-white-content text-center" style="margin: 0px">
                        
                                <!-- Buttons -->
                                <a href="" class="btn btn-lpbuilder-white" style="height: 40px; width: 100px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">Вариант 11</a>
                                <a href="" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 100px; font-size: 14px; font-weight: 600">Вариант 12</a>
                                <a href="" class="btn btn-lpbuilder-white" style="height: 40px; width: 100px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">Вариант 13</a>
                                <a href="" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 100px; font-size: 14px; font-weight: 600">Вариант 14</a>      
                                <a href="" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 100px; font-size: 14px; font-weight: 600">Вариант 15</a> 
                            </div><!-- /End Buttons Block Container 3 -->
                            
                            <!-- Buttons Block Container 4 -->
                            <div class="title-block-container white-content remove-white-content text-center" style="margin: 0px">
                        
                                <!-- Buttons -->
                                <a href="" class="btn btn-lpbuilder-white" style="height: 40px; width: 250px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">Сгенерировать вариант</a>
                                <a href="" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 250px; font-size: 14px; font-weight: 600">Перейти к каталогу заданий</a></a>
                            </div><!-- /End Buttons Block Container 4 -->

                        </div><!-- /End Buttons Block -->
                        
                        <!-- container -->
                        <div class="container" style="margin-top: 100px; margin-bottom: 0px;">
                            <!-- row -->
                            <div class="row">


                                <!-- Title Block -->
                                <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block" style="margin-top: 100px; margin-bottom: 0px;">
                                    <!-- Title Block Container -->
                                    <div class="title-block-container text-center" style="margin-bottom: 0px">

                                        <!-- Title -->
                                        <h2>ГЕНЕРАТОР</h2>

                                        <!-- Description -->
                                        <p>Тренируйте навык выполнения отдельных номеров, решая задачи с помощью системного генератора</p>

                                        <!-- Line Separator -->
                                        <div class="line-separator"></div>

                                    </div><!-- /End Title Block Container -->
                                </div><!-- /End Title Block -->
                            </div>
                        </div>

                        <!-- container -->
                        <div class="container" style="margin-top: 100px; margin-bottom: 100px;">
                            <!-- row -->
                            <div class="row">

                                <form name="egeNoForm" action="" method="get" style="align: center; height: 10px; max-width: 800px; margin: 30px; padding:0 0 0 10px;">
                                    <input type="hidden" name="action" value="viewAllEgeNo">
                                    <p><b>Выберите номер задания </b>:<br>
                                    <select name="egeId" id="egeId" onchange="findCategories();" style="visibility: visible;">
                                    <option value="1">1. Анализ информационных моделей</option>
                                    <option value="2">2. Таблицы истинности логических выражений</option>
                                    <option value="3">3. Поиск и сортировка в базах данных</option>
                                    <option value="4">4. Кодирование и декодирование данных. Условие Фано</option>
                                    <option value="5">5. Анализ алгоритмов для исполнителей</option>
                                    <option value="6">6. Анализ программ с циклами</option>
                                    <option value="7">7. Кодирование графической и звуковой информации</option>
                                    <option value="8">8. Комбинаторика</option>
                                    <option value="9">9. Обработка числовой информации в электронных таблицах</option>
                                    <option value="10">10. Поиск слова в текстовом документе</option>
                                    <option value="11">11. Вычисление количества информации</option>
                                    <option value="12">12. Алгоритмы для исполнителей с циклами и ветвлениями</option>
                                    <option value="13">13. IP-адреса и маски</option>
                                    <option value="14">14. Позиционные системы счисления</option>
                                    <option value="15">15. Истинность логического выражения</option>
                                    <option value="16">16. Вычисление значения рекурсивной функции</option>
                                    <option value="17">17. Обработка целочисленных данных. Проверка делимости</option>
                                    <option value="18">18. Динамическое программирование в электронных таблицах</option>
                                    <option value="19">19-21. Теория игр</option>
                                    <option value="22">22. Анализ программ с циклами и ветвлениями</option>
                                    <option value="23">23. Динамическое программирование (количество программ)</option>
                                    <option value="24">24. Обработка символьных строк</option>
                                    <option value="25">25. Обработка целочисленных данных. Поиск делителей</option>
                                    <option value="26">26. Обработка данных с помощью сортировки</option>
                                    <option value="27">27. Обработка потока данных</option>
                                    </select>
                                    <input style="width:200px;margin-left:0px;" type="submit" value="Найти все задачи" href="#problem">
                                    </p>
                                </form>
                            </div>
                        </div>

                        <!-- container -->
                        <div class="container" style="margin-top: 100px; margin-bottom: 0px;">
                            <!-- row -->
                            <div class="row">

                                <a href="#problem">Найти все задачи</a>
                                <div class="hidden" id="problem">Здесь должна быть задача</div>
<!-- 
                                <a href="#foo">Click here to show the hidden element</a>
                                <div id="foo">This should only show when the link is clicked.</div> -->
                                
                            </div>
                        </div>

                    </div><!-- /End White Section -->


                </div><!-- /End Slide Container -->
            </div><!-- /End Slide -->


{% endblock %}