{% extends 'base.html' %}
    <!-- ==================================================================== -->
    {% block content %}
        <div id="hero-section-3" class="hero-section white-section section-no-padding border-bottom">
            <!-- Section Container -->
            <div class="section-container">


            <!-- Swiper Slider -->
            <div class="lpbuilder-swiper-slider" data-swiper-items="1">

                <!-- Swiper Slides -->
                <div class="swiper-wrapper">


                    <!-- Slide -->
                    <div class="swiper-slide">
                        <!-- Slide Container -->
                        <div class="swiper-slide-container">


                            <!-- White Section -->
                            <div class="white-section section-lg-padding border-bottom">
                                <!-- Section Container -->
                                <div class="section-container">


                                    <!-- Background Image Block -->
                                    <div class="background-image-block parallax-effect lpbuilder-image">
                                        <img src="{{ url_for('static', filename='images/hero/hero-001.jpg') }}" alt="Parallax Image" style="top: -174.5px; transform: translate(-50%, 0px);">
                                    </div><!-- /End Background Image Block -->


                                    <!-- container -->
                                    <div class="container">
                                        <!-- row -->
                                        <div class="row">


                                            <!-- Title Block -->
                                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                                <!-- Title Block Container -->
                                                <div class="title-block-container white-content remove-white-content text-center">

                                                    <!-- Title -->
                                                    <h1>Code-100</h1>

                                                    <!-- Description -->
                                                    <p>Тренажер для успешной подготовки к ЕГЭ</p>

                                                    <!-- Buttons -->
                                                    <a href="{{ exerciser }}" title="Начать работу" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 120px; font-size: 14px; font-weight: 600">НАЧАТЬ</a>
                                                    <a href="{{ login }}" title="Войти в личный кабинет" class="btn btn-lpbuilder-white" style="height: 40px; width: 120px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">ВОЙТИ</a>

                                                </div><!-- /End Title Block Container -->
                                            </div><!-- /End Title Block -->


                                        </div><!-- /End row -->
                                    </div><!-- /End container -->


                                </div><!-- /End Section Container -->
                            </div><!-- /End White Section -->


                        </div><!-- /End Slide Container -->
                    </div><!-- /End Slide -->


                </div><!-- /End Swiper Slides -->

                <!-- Pagination -->
                <div class="swiper-pagination"></div>

            </div><!-- /End Swiper Slider -->


        </div><!-- /End Section Container -->
    </div><!-- /End Hero 3 --><!-- Timeline 1
    ==================================================================== -->
    <div id="timeline-section-1" class="timeline-section grey-section">

    <!-- Counters 2
    ==================================================================== -->
    <div id="counters-section-2" class="counters-section grey-section section-xs-padding">
        <!-- Section Container -->
        <div class="section-container">


            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                    <!-- Counters Wrapper -->
                    <div class="counters-wrapper">


                        <!-- Counter Block -->
                        <div class="col-md-2 col-sm-4 col-xs-4 counter-block">
                            <!-- Counter Block Container -->
                            <div class="counter-block-container" style="height: 100px;">

                                <!-- Number -->
                                <h1><span>1000+</span></h1>

                                <!-- Title -->
                                <h4>ЗАДАЧ</h4>

                            </div><!-- /End Counter Block Container -->
                        </div><!-- /End Counter Block -->


                        <!-- Counter Block -->
                        <div class="col-md-2 col-sm-4 col-xs-4 counter-block">
                            <!-- Counter Block Container -->
                            <div class="counter-block-container" style="height: 100px;">

                                <!-- Number -->
                                <h1><span>100+</span></h1>

                                <!-- Title -->
                                <h4>ВАРИАНТОВ</h4>

                            </div><!-- /End Counter Block Container -->
                        </div><!-- /End Counter Block -->


                        <!-- Counter Block -->
                        <div class="col-md-2 col-sm-4 col-xs-4 counter-block">
                            <!-- Counter Block Container -->
                            <div class="counter-block-container" style="height: 100px;">

                                <!-- Number -->
                                <h1><span>26</span></h1>

                                <!-- Title -->
                                <h4>БЛОКОВ ТЕОРИИ</h4>

                            </div><!-- /End Counter Block Container -->
                        </div><!-- /End Counter Block -->
                    </div><!-- /End Counters Wrapper -->

                </div><!-- /End row -->
            </div><!-- /End container -->


        </div><!-- /End Section Container -->
    </div><!-- /End Counters 2 -->

        <!-- Section Container -->
        <div class="section-container">


            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                    <!-- Timeline Block -->
                    <div class="col-md-6 timeline-block">
                        <!-- Timeline Block Container -->
                        <div class="timeline-block-container">


                            <!-- Timeline Block Title -->
                            <div class="timeline-block-title">
                                <h3><i class="fa fa-graduation-cap"></i><span>Структура</span></h3>
                            </div><!-- /End Timeline Block Title -->


                            <!-- Timeline Block Item -->
                            <div class="timeline-block-item">
                                <!-- Timeline Block Item Container -->
                                <div class="timeline-block-item-container">


                                    <!-- Timeline Footer -->
                                    <div class="timeline-footer">

                                        <!-- Date Block -->
                                        <div class="date-block">
                                            <!-- Date Block Container -->
                                            <div class="date-block-container">
                                                <span><i class="fa fa-clock-o"></i><h4>Генератор вариантов</h4></span>
                                            </div><!-- /End Date Block Container -->
                                        </div><!-- /End Date Block -->

                                        <!-- Description -->
                                        <p>Создает уникальные варианты экзаменационного типа из задач, оказавшихся самыми сложными по статистике решений</p>

                                    </div><!-- /End Timeline Footer -->


                                </div><!-- /End Timeline Block Item Container -->
                            </div><!-- /End Timeline Block Item -->


                            <!-- Timeline Block Item -->
                            <div class="timeline-block-item">
                                <!-- Timeline Block Item Container -->
                                <div class="timeline-block-item-container">


                                    <!-- Timeline Footer -->
                                    <div class="timeline-footer">

                                        <!-- Date Block -->
                                        <div class="date-block">
                                            <!-- Date Block Container -->
                                            <div class="date-block-container">
                                                <span><i class="fa fa-clock-o"></i><h4>Тренажер</h4></span>
                                            </div><!-- /End Date Block Container -->
                                        </div><!-- /End Date Block -->


                                        <!-- Description -->
                                        <p>Помогает в тренировке решения выбранного типа задания</p>

                                    </div><!-- /End Timeline Footer -->


                                </div><!-- /End Timeline Block Item Container -->
                            </div><!-- /End Timeline Block Item -->


                            <!-- Timeline Block Item -->
                            <div class="timeline-block-item">
                                <!-- Timeline Block Item Container -->
                                <div class="timeline-block-item-container">


                                    <!-- Timeline Footer -->
                                    <div class="timeline-footer">

                                        <!-- Date Block -->
                                        <div class="date-block">
                                            <!-- Date Block Container -->
                                            <div class="date-block-container">
                                                <span><i class="fa fa-clock-o"></i><h4>Онлайн-помощник</h4></span>
                                            </div><!-- /End Date Block Container -->
                                        </div><!-- /End Date Block -->


                                        <!-- Description -->
                                        <p>Объяснит теорию по каждому типу задач</p>

                                    </div><!-- /End Timeline Footer -->


                                </div><!-- /End Timeline Block Item Container -->
                            </div><!-- /End Timeline Block Item -->


                        </div><!-- /End Timeline Block Container -->
                    </div><!-- /End Timeline Block -->


                    <!-- Timeline Block -->
                    <div class="col-md-6 timeline-block">
                        <!-- Timeline Block Container -->
                        <div class="timeline-block-container">


                            <!-- Timeline Block Title -->
                            <div class="timeline-block-title">
                                <h3><i class="fa fa-briefcase"></i><span>Ресурсы</span></h3>
                            </div><!-- /End Timeline Block Title -->


                            <!-- Timeline Block Item -->
                            <div class="timeline-block-item">
                                <!-- Timeline Block Item Container -->
                                <div class="timeline-block-item-container">


                                    <!-- Timeline Footer -->
                                    <div class="timeline-footer">

                                        <!-- Date Block -->
                                        <div class="date-block">
                                            <!-- Date Block Container -->
                                            <div class="date-block-container">
                                                <span><i class="fa fa-clock-o"></i><h4>Актуальность материала</h4></span>
                                            </div><!-- /End Date Block Container -->
                                        </div><!-- /End Date Block -->

                                        <!-- Description -->
                                        <p>Задания, сформированные согласно последним нововведениям ФИПИ</p>

                                    </div><!-- /End Timeline Footer -->


                                </div><!-- /End Timeline Block Item Container -->
                            </div><!-- /End Timeline Block Item -->


                            <!-- Timeline Block Item -->
                            <div class="timeline-block-item">
                                <!-- Timeline Block Item Container -->
                                <div class="timeline-block-item-container">


                                    <!-- Timeline Footer -->
                                    <div class="timeline-footer">

                                        <!-- Date Block -->
                                        <div class="date-block">
                                            <!-- Date Block Container -->
                                            <div class="date-block-container">
                                                <span><i class="fa fa-clock-o"></i><h4>Сложность</h4></span>
                                            </div><!-- /End Date Block Container -->
                                        </div><!-- /End Date Block -->

                                        <!-- Description -->
                                        <p>Разноуровневые задания, способствующие закреплению полученного материала</p>

                                    </div><!-- /End Timeline Footer -->


                                </div><!-- /End Timeline Block Item Container -->
                            </div><!-- /End Timeline Block Item -->


                            <!-- Timeline Block Item -->
                            <div class="timeline-block-item">
                                <!-- Timeline Block Item Container -->
                                <div class="timeline-block-item-container">


                                    <!-- Timeline Footer -->
                                    <div class="timeline-footer">

                                        <!-- Date Block -->
                                        <div class="date-block">
                                            <!-- Date Block Container -->
                                            <div class="date-block-container">
                                                <span><i class="fa fa-clock-o"></i><h4></h4>Обширный каталог</h4></span>
                                            </div><!-- /End Date Block Container -->
                                        </div><!-- /End Date Block -->

                                        <!-- Description -->
                                        <p>Большая база данных задач и вариантов для отработки навыков решения</p>

                                    </div><!-- /End Timeline Footer -->


                                </div><!-- /End Timeline Block Item Container -->
                            </div><!-- /End Timeline Block Item -->


                        </div><!-- /End Timeline Block Container -->
                    </div><!-- /End Timeline Block -->


                </div><!-- /End row -->
            </div><!-- /End container -->


        </div><!-- /End Section Container -->
    </div><!-- /End Timeline 1 --><!-- Timeline 1
    
    ==================================================================== -->
    <!-- /End Timeline 1 --></div><!-- /End Main Wrapper -->

        <!-- Java Script Files		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>		
        ======================================================================== -->
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/mobile/mobile.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/mobile/mobile.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='https://lpbuilder.pro/js/app.js') }}"></script> -->
		
<script>$('#style-switcher .panel-button').click(function() {
    //$('#style-switcher').toggleClass('close-style-switcher', 'open-style-switcher', 1000);
    $('#style-switcher').toggleClass('open-style-switcher', 'close-style-switcher', 1000);
    return false;
});
$('.switcher').click(function() {
    var title = jQuery(this).attr('title');
    jQuery('#changeable-colors').attr('href', 'css/css/' + title + '.css');
    return false;
});
</script>
</body></html>
{% endblock %}