{% extends 'base.html' %}

{% block content %}
<div id="hero-section-3" class="hero-section white-section section-no-padding border-bottom">
    <!-- Section Container -->
    <div class="section-container">


    <!-- Swiper Slider -->
    <div class="lpbuilder-swiper-slider" data-swiper-items="1">

        <!-- Swiper Slides -->
        <div class="swiper-wrapper">


            <!-- Slide -->
            <div class="swiper-slide">
                <!-- Slide Container -->
                <div class="swiper-slide-container">


                    <!-- White Section -->
                    <div class="white-section section-lg-padding border-bottom">
                        <!-- Section Container -->
                        <div class="section-container" style="height: 250px">

                            <!-- Background Image Block -->
                            <div class="background-image-block parallax-effect lpbuilder-image" style="height: 350px">
                                <img src="{{ url_for('static', filename='images/hero/background-002.jpg') }}" alt="Parallax Image" style="top: -170px; transform: translate(-50%, 0px);">
                            </div><!-- /End Background Image Block -->

                            <!-- container -->
                            <div class="container" style="height: 100px; margin-top: -70px">
                                <!-- row -->
                                <div class="row">

                                    <!-- Title Block -->
                                    <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                        <!-- Title Block Container -->
                                        <div class="title-block-container white-content remove-white-content text-center">

                                            <!-- Title -->
                                            <h1 style="font-size: 40px">Выберите номер задания</h1>

                                            <!-- Description -->
                                            <p1">и мы объясним по нему теоретический материал!</p1>
                                    
                                        </div><!-- /End Title Block Container -->
                                    </div><!-- /End Title Block -->                         


                                </div><!-- /End row -->
                            </div><!-- /End container -->

                        </div><!-- /End Section Container -->

                        <!-- Buttons Block -->
                        <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">

                            <!-- Buttons Block Container 1-->                                    
                            <div class="title-block-container white-content remove-white-content text-center" style="margin: 0px">

                                <!-- Buttons -->
                                <a href="" title="Задание 1" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">1</a>
                                <a href="" title="Задание 2" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">2</a>
                                <a href="" title="Задание 3" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">3</a>
                                <a href="" title="Задание 4" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">4</a>                                    
                            </div><!-- /End Buttons Block Container 1-->  

                            <!-- Buttons Block Container 2-->
                            <div class="title-block-container white-content remove-white-content text-center" style="margin: 0px">
                        
                                <!-- Buttons -->
                                <a href="" title="Задание 5" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">5</a>
                                <a href="" title="Задание 6" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">6</a>
                                <a href="" title="Задание 7" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">7</a>
                                <a href="" title="Задание 8" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">8</a>
                            </div><!-- /End Buttons Block Container 2--> 

                            <!-- Buttons Block Container 3 -->
                            <div class="title-block-container white-content remove-white-content text-center" style="margin: 0px">
                        
                                <!-- Buttons -->
                                <a href="" title="Задание 5" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">5</a>
                                <a href="" title="Задание 6" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">6</a>
                                <a href="" title="Задание 7" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">7</a>
                                <a href="" title="Задание 8" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">8</a>
                            </div><!-- /End Buttons Block Container 3 -->
                            
                            <!-- Buttons Block Container 4 -->
                            <div class="title-block-container white-content remove-white-content text-center" style="margin: 0px">
                        
                                <!-- Buttons -->
                                <a href="" title="Задание 9" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">9</a>
                                <a href="" title="Задание 10" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">10</a>
                                <a href="" title="Задание 11" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">11</a>
                                <a href="" title="Задание 12" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">12</a>
                            </div><!-- /End Buttons Block Container 4 -->

                            <!-- Buttons Block Container 5 -->
                            <div class="title-block-container white-content remove-white-content text-center" style="margin: 0px">
                        
                                <!-- Buttons -->
                                <a href="" title="Задание 13" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">13</a>
                                <a href="" title="Задание 14" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">14</a>
                                <a href="" title="Задание 15" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">15</a>
                                <a href="" title="Задание 16" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">16</a>
                            </div><!-- /End Buttons Block Container 5 -->   

                            <!-- Buttons Block Container 6 -->
                            <div class="title-block-container white-content remove-white-content text-center" style="margin: 0px">
                    
                                <!-- Buttons -->
                                <a href="" title="Задание 17" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">17</a>
                                <a href="" title="Задание 18" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">18</a>
                                <a href="" title="Задания 19-21" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">19-21</a>
                                <a href="" title="Задание 22" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">22</a>
                            </div><!-- /End Buttons Block Container 6 -->  
                            
                            <!-- Buttons Block Container 7 -->
                            <div class="title-block-container white-content remove-white-content text-center" style="margin: 0px; margin-bottom: 50px;">

                                <!-- Buttons -->
                                <a href="" title="Задание 23" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">23</a>
                                <a href="" title="Задание 24" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">24</a>
                                <a href="" title="Задания 25" class="btn btn-lpbuilder-white" style="height: 40px; width: 40px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 700;">25</a>
                                <a href="" title="Задание 26" class="btn btn-lpbuilder wave-effect" style="height: 40px; width: 40px; font-size: 14px; font-weight: 600">26</a>
                            </div><!-- /End Buttons Block Container 7 -->  

                        </div><!-- /End Buttons Block -->                        
                    </div><!-- /End White Section -->


                </div><!-- /End Slide Container -->
            </div><!-- /End Slide -->

    
{% endblock %}